.cards__outer {
  max-width: 72rem;
  margin: 0 auto;
  padding: 30px 0;
}

.cards__outer__sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
}

.cards__outer__caption:first-letter {
  text-transform: capitalize;
}

.back {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    url(../city.jpeg) center center / cover no-repeat;
}

@media (min-width: 768px) {
  .cards__outer {
    max-width: 72rem;
    margin: 0 auto;
    padding: 30px 20px;
  }
}

@media (min-width: 576px) {
  .cards__outer {
    padding: 20px 26px;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards__outer {
    padding: 14px 14px;
  }
}
