body {
  margin: 0px;
}

.SignIn {
  background: url(./Images/apt1.jpg) center center / cover no-repeat;
}

.signcard {
  background-color: white;
  opacity: 1;
  height: 410px;
  width: 300px;
  margin-top: 10%;
  margin-bottom: 500px;
}

.card-header {
  background-color: #103f52;
  color: #3c240f;
}

.card-h3 {
  color: #e8e7e6;
  font-size: 23px;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

.card-footerText {
  font-family: "Roboto", sans-serif;
  color: brown;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  margin-left: 60px;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
